<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Comment</title>
  </head>
  <body>
    <div>
      <h1>New Comment</h1>
    </div>
    <div>
      <form action="/comments" method="POST">
        <div>
          <label for="new_comments_username">Enter Your Username:</label>
          <input
            name="new_comments_username"
            type="text"
            placeholder="Username goes here"
          />
        </div>
        <div>
          <label for="new_comments_comment">Enter Your Comment:</label>
          <textarea
            name="new_comments_comment"
            id="new_comments_comment"
            cols="30"
            rows="5"
            placeholder="Comment goes here"
          ></textarea>
        </div>

        <button>Submit</button>
      </form>
      <form action="/comments" method="GET">
        <button>Return</button>
      </form>
    </div>
  </body>
</html>
